/*
body {
    height: 100vh;
}
!* row color *!
div.row {
    border: 1px dashed blue;
}
!* cell color *!
div.row > div {
    border: 1px solid red;
}
div.tall-row {
    height: 300px;
}*/
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}
